---
name: home
url: /
controller: startController
---



    
<div class="menu-group primary" >
<div class="menu-group-left">
<ul class="menu-bar primary">
<li><a ui-sref="home"><strong>socialApp</strong></a></li>
</ul>
</div>
<div class="menu-group-right">
<ul class="icon-left primary menu-bar">
<li ng-show="theUser.user"><a>{{theUser.user}}</a></li>
<li><a ng-click="logOut()">logout</a></li>
</ul>
</div>
</div>  
    
    
    
<div class="grid-container " >    
    
    

    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
    
   
    
    
    
    
    


</div>

