---
name: home
url: /
controller: startController
---



    
<div class="menu-group primary" >
<div class="menu-group-left">
<ul class="menu-bar primary">
<li><a ui-sref="home"><strong>socialApp</strong></a></li>
</ul>
</div>
<div class="menu-group-right">
<ul class="icon-left primary menu-bar">
<li ng-show="theUser"><a><img zf-iconic="" icon="person" size="small" class="iconic-color-primary">{{theUser}}</a></li>
<li><a ng-click="logOut()"><img zf-iconic="" icon="circle-x" size="small" class="iconic-color-primary">logout</a></li>
</ul>
</div>
</div>  
    
    
    
<div class="grid-container " >    
    
    

    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
    
   
    
    
    
    
    


</div>

